[[source]]

url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

flake8 = "==3.7.7"
flake8-isort = "==2.7.0"
mozlog = "==4.1"
pytest = "==4.6.3"
pytest-base-url = "==1.4.1"
pytest-html = "==1.21.1"
pytest-xdist = "==1.29.0"


[packages.requests]

extras = [ "security",]
version = "==2.18.4"
