[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

flake8 = "==3.5.0"
flake8-isort = "==2.5"
mozlog = "==3.7"
pytest = "==3.6.0"
pytest-base-url = "==1.4.1"
pytest-html = "==1.18.0"
pytest-xdist = "==1.22.2"


[packages.requests]

extras = [ "security",]
version = "==2.18.4"
