[[source]]

url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

flake8 = "==3.7.9"
flake8-isort = "==2.8.0"
mozlog = "==5.0"
pytest = "==5.3.5"
pytest-base-url = "==1.4.1"
pytest-html = "==2.0.1"
pytest-xdist = "==1.27.0"


[packages.requests]

extras = [ "security",]
version = "==2.18.4"
